/* reset 
================================ */
@charset "utf-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../font/Montserrat/Montserrat-Regular.ttf");
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: 100;
  line-height: 1.5;
  color: #3e3e3e !important;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-size-adjust: 100%;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  width: 100%;
}
a {
  color: #7fdbff !important;
  text-decoration: none;
}
/* color 
================================ */
.text-primary {
  color: #3d9970 !important;
}
.text-default {
  color: #ddd !important;
}
.text-warning {
  color: #f6bb42 !important;
}
.text-danger {
  color: #da4453 !important;
}
.text-success {
  color: #37bc9b !important;
}
.text-info {
  color: #3bafda !important;
}
.text-grey {
  color: #9e9e9e !important;
}
.text-light {
  color: #eee !important;
}
.text-white {
  color: #fff !important;
}
.text-dark {
  color: #333 !important;
}
.bg-primary {
  background: #3d9970 !important;
}
.bg-warning {
  background: #f6bb42 !important;
}
.bg-danger {
  background: #da4453 !important;
}
.bg-success {
  background: #37bc9b !important;
}
.bg-info {
  background: #3bafda !important;
}
.bg-grey {
  background: #9e9e9e !important;
}
.bg-light {
  background: #eee !important;
}
.bg-white {
  background: #fff !important;
}
.bg-dark {
  background: #333 !important;
}
.bg-default {
  background: #ddd !important;
}
.bg-black {
  background: #000 !important;
}
/*
container
================================ */
.container-full {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1456px) {
  .container {
    width: 1360px;
  }
}
/*
grid
================================ */
.grid:after,
.grid:before {
  content: '';
  clear: both;
  display: table;
}
.set {
  float: left;
  padding: 0 8px;
}
.set:first-child {
  padding-left: 16px;
  padding-right: 8px;
}
.set:last-child {
  padding-right: 16px;
  padding-left: 8px;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}
.off-1 {
  margin-left: 8.333333333333332%;
}
.off-2 {
  margin-left: 16.666666666666664%;
}
.off-3 {
  margin-left: 25%;
}
.off-4 {
  margin-left: 33.33333333333333%;
}
.off-5 {
  margin-left: 41.66666666666667%;
}
.off-6 {
  margin-left: 50%;
}
.off-7 {
  margin-left: 58.333333333333336%;
}
.off-8 {
  margin-left: 66.66666666666666%;
}
.off-9 {
  margin-left: 75%;
}
.off-10 {
  margin-left: 83.33333333333334%;
}
.off-11 {
  margin-left: 91.66666666666666%;
}
.off-12 {
  margin-left: 100%;
}
@media (max-width: 576px) {
  .set.sm-1 {
    width: 8.333333333333332%;
  }
  .set.sm-2 {
    width: 16.666666666666664%;
  }
  .set.sm-3 {
    width: 25%;
  }
  .set.sm-4 {
    width: 33.33333333333333%;
  }
  .set.sm-5 {
    width: 41.66666666666667%;
  }
  .set.sm-6 {
    width: 50%;
  }
  .set.sm-7 {
    width: 58.333333333333336%;
  }
  .set.sm-8 {
    width: 66.66666666666666%;
  }
  .set.sm-9 {
    width: 75%;
  }
  .set.sm-10 {
    width: 83.33333333333334%;
  }
  .set.sm-11 {
    width: 91.66666666666666%;
  }
  .set.sm-12 {
    width: 100%;
  }
  .off-sm-1 {
    margin-left: 8.333333333333332%;
  }
  .off-sm-2 {
    margin-left: 16.666666666666664%;
  }
  .off-sm-3 {
    margin-left: 25%;
  }
  .off-sm-4 {
    margin-left: 33.33333333333333%;
  }
  .off-sm-5 {
    margin-left: 41.66666666666667%;
  }
  .off-sm-6 {
    margin-left: 50%;
  }
  .off-sm-7 {
    margin-left: 58.333333333333336%;
  }
  .off-sm-8 {
    margin-left: 66.66666666666666%;
  }
  .off-sm-9 {
    margin-left: 75%;
  }
  .off-sm-10 {
    margin-left: 83.33333333333334%;
  }
  .off-sm-11 {
    margin-left: 91.66666666666666%;
  }
  .off-sm-12 {
    margin-left: 100%;
  }
  [class*="off-"] {
    margin-left: 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .set.md-1 {
    width: 8.333333333333332%;
  }
  .set.md-2 {
    width: 16.666666666666664%;
  }
  .set.md-3 {
    width: 25%;
  }
  .set.md-4 {
    width: 33.33333333333333%;
  }
  .set.md-5 {
    width: 41.66666666666667%;
  }
  .set.md-6 {
    width: 50%;
  }
  .set.md-7 {
    width: 58.333333333333336%;
  }
  .set.md-8 {
    width: 66.66666666666666%;
  }
  .set.md-9 {
    width: 75%;
  }
  .set.md-10 {
    width: 83.33333333333334%;
  }
  .set.md-11 {
    width: 91.66666666666666%;
  }
  .set.md-12 {
    width: 100%;
  }
  .off-md-1 {
    margin-left: 8.333333333333332%;
  }
  .off-md-2 {
    margin-left: 16.666666666666664%;
  }
  .off-md-3 {
    margin-left: 25%;
  }
  .off-md-4 {
    margin-left: 33.33333333333333%;
  }
  .off-md-5 {
    margin-left: 41.66666666666667%;
  }
  .off-md-6 {
    margin-left: 50%;
  }
  .off-md-7 {
    margin-left: 58.333333333333336%;
  }
  .off-md-8 {
    margin-left: 66.66666666666666%;
  }
  .off-md-9 {
    margin-left: 75%;
  }
  .off-md-10 {
    margin-left: 83.33333333333334%;
  }
  .off-md-11 {
    margin-left: 91.66666666666666%;
  }
  .off-md-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .set.lg-1 {
    width: 8.333333333333332%;
  }
  .set.lg-2 {
    width: 16.666666666666664%;
  }
  .set.lg-3 {
    width: 25%;
  }
  .set.lg-4 {
    width: 33.33333333333333%;
  }
  .set.lg-5 {
    width: 41.66666666666667%;
  }
  .set.lg-6 {
    width: 50%;
  }
  .set.lg-7 {
    width: 58.333333333333336%;
  }
  .set.lg-8 {
    width: 66.66666666666666%;
  }
  .set.lg-9 {
    width: 75%;
  }
  .set.lg-10 {
    width: 83.33333333333334%;
  }
  .set.lg-11 {
    width: 91.66666666666666%;
  }
  .set.lg-12 {
    width: 100%;
  }
  .off-lg-1 {
    margin-left: 8.333333333333332%;
  }
  .off-lg-2 {
    margin-left: 16.666666666666664%;
  }
  .off-lg-3 {
    margin-left: 25%;
  }
  .off-lg-4 {
    margin-left: 33.33333333333333%;
  }
  .off-lg-5 {
    margin-left: 41.66666666666667%;
  }
  .off-lg-6 {
    margin-left: 50%;
  }
  .off-lg-7 {
    margin-left: 58.333333333333336%;
  }
  .off-lg-8 {
    margin-left: 66.66666666666666%;
  }
  .off-lg-9 {
    margin-left: 75%;
  }
  .off-lg-10 {
    margin-left: 83.33333333333334%;
  }
  .off-lg-11 {
    margin-left: 91.66666666666666%;
  }
  .off-lg-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .set.xl-1 {
    width: 8.333333333333332%;
  }
  .set.xl-2 {
    width: 16.666666666666664%;
  }
  .set.xl-3 {
    width: 25%;
  }
  .set.xl-4 {
    width: 33.33333333333333%;
  }
  .set.xl-5 {
    width: 41.66666666666667%;
  }
  .set.xl-6 {
    width: 50%;
  }
  .set.xl-7 {
    width: 58.333333333333336%;
  }
  .set.xl-8 {
    width: 66.66666666666666%;
  }
  .set.xl-9 {
    width: 75%;
  }
  .set.xl-10 {
    width: 83.33333333333334%;
  }
  .set.xl-11 {
    width: 91.66666666666666%;
  }
  .set.xl-12 {
    width: 100%;
  }
  .off-xl-1 {
    margin-left: 8.333333333333332%;
  }
  .off-xl-2 {
    margin-left: 16.666666666666664%;
  }
  .off-xl-3 {
    margin-left: 25%;
  }
  .off-xl-4 {
    margin-left: 33.33333333333333%;
  }
  .off-xl-5 {
    margin-left: 41.66666666666667%;
  }
  .off-xl-6 {
    margin-left: 50%;
  }
  .off-xl-7 {
    margin-left: 58.333333333333336%;
  }
  .off-xl-8 {
    margin-left: 66.66666666666666%;
  }
  .off-xl-9 {
    margin-left: 75%;
  }
  .off-xl-10 {
    margin-left: 83.33333333333334%;
  }
  .off-xl-11 {
    margin-left: 91.66666666666666%;
  }
  .off-xl-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1456px) {
  .set.xxl-1 {
    width: 8.333333333333332%;
  }
  .set.xxl-2 {
    width: 16.666666666666664%;
  }
  .set.xxl-3 {
    width: 25%;
  }
  .set.xxl-4 {
    width: 33.33333333333333%;
  }
  .set.xxl-5 {
    width: 41.66666666666667%;
  }
  .set.xxl-6 {
    width: 50%;
  }
  .set.xxl-7 {
    width: 58.333333333333336%;
  }
  .set.xxl-8 {
    width: 66.66666666666666%;
  }
  .set.xxl-9 {
    width: 75%;
  }
  .set.xxl-10 {
    width: 83.33333333333334%;
  }
  .set.xxl-11 {
    width: 91.66666666666666%;
  }
  .set.xxl-12 {
    width: 100%;
  }
  .set-xxl-1 {
    margin-left: 8.333333333333332%;
  }
  .set-xxl-2 {
    margin-left: 16.666666666666664%;
  }
  .set-xxl-3 {
    margin-left: 25%;
  }
  .set-xxl-4 {
    margin-left: 33.33333333333333%;
  }
  .set-xxl-5 {
    margin-left: 41.66666666666667%;
  }
  .set-xxl-6 {
    margin-left: 50%;
  }
  .set-xxl-7 {
    margin-left: 58.333333333333336%;
  }
  .set-xxl-8 {
    margin-left: 66.66666666666666%;
  }
  .set-xxl-9 {
    margin-left: 75%;
  }
  .set-xxl-10 {
    margin-left: 83.33333333333334%;
  }
  .set-xxl-11 {
    margin-left: 91.66666666666666%;
  }
  .set-xxl-12 {
    margin-left: 100%;
  }
}
/*
typography
================================ */
.bold,
b,
strong {
  font-weight: 600;
}
.normal {
  font-weight: normal;
}
.italic {
  font-style: italic;
}
.caps {
  text-transform: capitalize;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.underline {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.33em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.fs-small {
  font-size: 16px;
}
.fs-medium {
  font-size: 32px;
}
.fs-normal {
  font-size: 64px;
}
.fs-large {
  font-size: 128px;
}
.fs-xlarge {
  font-size: 192px;
}
/*
list
================================ */
ul.none {
  list-style: none;
}
ul.reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.inline {
  list-style: none;
}
ul.inline li {
  float: left;
  padding-right: 1em;
}
/*
table
================================ */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
  padding: 0;
  text-align: left;
  font-size: 1em;
}
.table tr th,
.table tr td {
  padding: 8px;
}
.table tr:first-child {
  border-top: none;
  border-bottom: 2px solid #e0e0e0 !important;
}
.table tr:last-child {
  border-bottom: none;
  border-top: 1px solid #e0e0e0 !important;
}
.table tr:not(:first-child):not(:last-child) {
  border-top: 1px solid #e0e0e0 !important;
  border-bottom: 1px solid #e0e0e0 !important;
}
.table.stripped tr:nth-child(odd) {
  background: #f5f5f5 !important;
}
.table.stripped tr:first-child {
  border-top: none;
  border-bottom: 2px solid #e0e0e0 !important;
}
.table.stripped tr:last-child {
  border-bottom: none;
  border-top: 1px solid #e0e0e0 !important;
}
.table.stripped tr:not(:first-child):not(:last-child) {
  border-top: 1px solid #e0e0e0 !important;
  border-bottom: 1px solid #e0e0e0 !important;
}
.responsive {
  width: 100%;
  overflow-x: auto;
}
/*
float
================================ */
.left {
  float: left;
}
.right {
  float: right;
}
/*
display
================================ */
.top-left {
  left: 0%;
  top: 0%;
  transform: translate(0%, 0%);
  position: absolute;
}
.top-center {
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  position: absolute;
}
.top-right {
  right: 0%;
  top: 0%;
  transform: translate(0%, 0%);
  position: absolute;
}
.middle-left {
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
}
.middle-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.middle-right {
  right: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
}
.bottom-left {
  left: 0%;
  bottom: 0%;
  transform: translate(0%, -50%);
  position: absolute;
}
.bottom-center {
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  position: absolute;
}
.bottom-right {
  right: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
  position: absolute;
}
/*
margin & padding
================================ */
.mt-0 {
  margin-top: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.no-margin {
  margin: 0;
}
.pt-0 {
  padding-top: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.no-padding {
  padding: 0;
}
.mt-small {
  margin-top: 4px;
}
.mt-medium {
  margin-top: 8px;
}
.mt-normal {
  margin-top: 16px;
}
.mt-large {
  margin-top: 24px;
}
.mt-xlarge {
  margin-top: 28px;
}
.mr-small {
  margin-right: 4px;
}
.mr-medium {
  margin-right: 8px;
}
.mr-normal {
  margin-right: 16px;
}
.mr-large {
  margin-right: 24px;
}
.mr-xlarge {
  margin-right: 28px;
}
.mb-small {
  margin-bottom: 4px;
}
.mb-medium {
  margin-bottom: 8px;
}
.mb-normal {
  margin-bottom: 16px;
}
.mb-large {
  margin-bottom: 24px;
}
.mb-xlarge {
  margin-bottom: 28px;
}
.ml-small {
  margin-left: 4px;
}
.ml-medium {
  margin-left: 8px;
}
.ml-normal {
  margin-left: 16px;
}
.ml-large {
  margin-left: 24px;
}
.ml-xlarge {
  margin-left: 28px;
}
.pt-small {
  padding-top: 4px;
}
.pt-medium {
  padding-top: 8px;
}
.pt-normal {
  padding-top: 16px;
}
.pt-large {
  padding-top: 24px;
}
.pt-xlarge {
  padding-top: 28px;
}
.pl-small {
  padding-left: 4px;
}
.pl-medium {
  padding-left: 8px;
}
.pl-normal {
  padding-left: 16px;
}
.pl-large {
  padding-left: 24px;
}
.pl-xlarge {
  padding-left: 28px;
}
.pr-small {
  padding-right: 4px;
}
.pr-medium {
  padding-right: 8px;
}
.pr-normal {
  padding-right: 16px;
}
.pr-large {
  padding-right: 24px;
}
.pr-xlarge {
  padding-right: 28px;
}
.pb-small {
  padding-bottom: 4px;
}
.pb-medium {
  padding-bottom: 8px;
}
.pb-normal {
  padding-bottom: 16px;
}
.pb-large {
  padding-bottom: 24px;
}
.pb-xlarge {
  padding-bottom: 28px;
}
/*
spacer
================================ */
.spacer-1 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.spacer-2 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.spacer-3 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.spacer-4 {
  padding-top: 128px;
  padding-bottom: 128px;
}
.spacer-5 {
  padding-top: 256px;
  padding-bottom: 256px;
}
/*
button
================================ */
.btn {
  background: #f5f5f5 !important;
  color: #333 !important;
  text-decoration: none;
  margin-bottom: 8px;
  padding: 7px 11px;
  line-height: 1.5;
  border-radius: 2px;
  font-size: 1em;
  font-weight: normal;
  outline: 0;
  border: 0;
  overflow: hidden;
  text-size-adjust: 100%;
  letter-spacing: 0.5px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-family: sans-serif;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn:active {
  box-shadow: none;
}
.btn.primary {
  background: #3d9970 !important;
  color: #fff !important;
}
.btn.danger {
  background: #da4453 !important;
  color: #fff !important;
}
.btn.warning {
  background: #f6bb42 !important;
  color: #fff !important;
}
.btn.success {
  background: #37bc9b !important;
  color: #fff !important;
}
.btn.info {
  background: #3bafda !important;
  color: #fff !important;
}
.btn.grey {
  background: #9e9e9e !important;
  color: #fff !important;
}
.btn.light {
  background: #eee !important;
  color: #000 !important;
}
.btn.dark {
  background: #333 !important;
  color: #fff !important;
}
.btn.white {
  background: #fff !important;
  color: #000 !important;
}
.btn.black {
  background: #000 !important;
  color: #fff !important;
}
.btn.ghost {
  border: 2px solid #e0e0e0 !important;
  color: #e0e0e0 !important;
  padding: 6px 10px;
  background: transparent !important;
}
.btn.ghost.primary {
  border: 2px solid #3d9970 !important;
  color: #3d9970 !important;
}
.btn.ghost.warning {
  border: 2px solid #f6bb42 !important;
  color: #f6bb42 !important;
}
.btn.ghost.danger {
  border: 2px solid #da4453 !important;
  color: #da4453 !important;
}
.btn.ghost.success {
  border: 2px solid #37bc9b !important;
  color: #37bc9b !important;
}
.btn.ghost.info {
  border: 2px solid #3bafda !important;
  color: #3bafda !important;
}
.btn.ghost.grey {
  border: 2px solid #9e9e9e !important;
  color: #9e9e9e !important;
}
.btn.ghost.light {
  border: 2px solid #eee !important;
  color: #eee !important;
}
.btn.ghost.white {
  border: 2px solid #fff !important;
  color: #fff !important;
}
.btn.ghost.black {
  border: 2px solid #000 !important;
  color: #000 !important;
}
.btn.ghost.dark {
  border: 2px solid #333 !important;
  color: #333 !important;
}
.btn.small {
  font-size: 12px;
}
.btn.medium {
  font-size: 20px;
}
.btn.large {
  font-size: 24px;
}
.btn.xlarge {
  font-size: 28px;
}
.btn.jumbo {
  font-size: 32px;
}
.btn.block {
  width: 100%;
  display: block;
}
a.btn {
  padding: 8px 12px;
}
.btn[disabled],
.btn:disabled {
  opacity: 0.4;
}
.btn[disabled]:hover,
.btn:disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
}
/*
input
================================ */
.input {
  width: auto;
  margin-bottom: 8px;
  padding: 7px 4px;
  background: transparent !important;
  font-size: 16px;
  font-family: sans-serif;
  border-bottom: 2px solid #eee !important;
  border: none;
  transition: all ease 0.1s;
}
.input:focus {
  font-weight: normal;
}
.input.full {
  width: 100%;
}
.group {
  margin-top: 8px;
  margin-bottom: 8px;
}
.group label {
  display: block;
  margin: 4px 0;
}
.group .input {
  margin: 4px 0;
}
.input.primary {
  border-bottom: 2px solid #3d9970 !important;
}
.input.warning {
  border-bottom: 2px solid #f6bb42 !important;
}
.input.danger {
  border-bottom: 2px solid #da4453 !important;
}
.input.success {
  border-bottom: 2px solid #37bc9b !important;
}
.input.info {
  border-bottom: 2px solid #3bafda !important;
}
.input.grey {
  border-bottom: 2px solid #9e9e9e !important;
}
.input.light {
  border-bottom: 2px solid #eee !important;
}
.input.white {
  border-bottom: 2px solid #fff !important;
}
.input.dark {
  border-bottom: 2px solid #333 !important;
}
/*
alert
================================ */
.alert {
  background: #f5f5f5 !important;
  color: #333 !important;
  padding: 8px;
  text-align: left;
  font-size: 1em;
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  margin: 8px 0;
  border-radius: 2px;
}
.alert.primary {
  background: #3d9970 !important;
  color: #fff !important;
}
.alert.warning {
  background: #f6bb42 !important;
  color: #fff !important;
}
.alert.success {
  background: #37bc9b !important;
  color: #fff !important;
}
.alert.danger {
  background: #da4453 !important;
  color: #fff !important;
}
.alert.info {
  background: #3bafda !important;
  color: #fff !important;
}
.alert.grey {
  background: #9e9e9e !important;
  color: #fff !important;
}
.alert.light {
  background: #eee !important;
  color: #333 !important;
}
.alert.white {
  background: #fff !important;
  color: #333 !important;
}
.alert.black {
  background: #000 !important;
  color: #fff !important;
}
.alert.dark {
  background: #333 !important;
  color: #fff !important;
}
/*
utilities
================================ */
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
@media (max-width: 800px) {
  [class*="w-"] {
    width: 100%;
  }
}
.margin-auto {
  margin: 0 auto;
}
.fs-small {
  font-size: 22px;
}
.fs-medium {
  font-size: 28px;
}
.fs-normal {
  font-size: 36px;
}
.fs-large {
  font-size: 48px;
}
.fs-xlarge {
  font-size: 52px;
}
.fs-xxlarge {
  font-size: 64px;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
